.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100vw - 4rem);
  height: 100vh;
}

.container > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.jumbotron {
  flex: 0 0 auto;
  width: 45%;
  padding: 0 6.75rem;
  color: #fff;
}

.heading {
  margin: 0;
  font-size: 4.5rem;
}

.description {
  margin: 0;
  font-size: 1.25rem;
  letter-spacing: 0.0125rem;
  opacity: 0.7;
}

.thumbnail {
  flex: 0 0 auto;
  width: 55%;
}

.thumbnail > img {
  height: 80vh;
}

.note {
  position: fixed;
  left: 10rem;
  bottom: 2rem;
  color: #fff;
}
