.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4rem;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 100;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  list-style-type: none;
  transform: rotate(-90deg);
}

.navigation > li {
  margin: 0 0.5rem;
}

.navigation > li > a {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 4rem;
  min-width: 100vw;
}
